body > section {
	padding: 0;
	margin: 0;
}

footer {
	font-style: italic;
}

#partie, #infos, #commandes-jeu-touch {
	width: 50%;
	height: 100%;
	float: left;
}

#fleches, #boutons {
	height: 50%;
	width: 100%;
}

#commandes-jeu-touch {
	text-align: center;
}

#commandes-jeu-touch table {
	margin: auto;
	border-collapse: collapse;
}
#commandes-jeu-touch tbody {
	width: 100%;
	height: 100%;
}
#commandes-jeu-touch img {
	display: block;
}

#boutons .bouton {
	border-radius: 100%;
	display: block;
}
#boutons .bouton.yellow {
	background-color: #f1c40f;
}
#boutons .bouton.red {
	background-color: #e74c3c;
}
#boutons .bouton.blue {
	background-color: #3498db;
}
#boutons .bouton.green {
	background-color: #2ecc71;
}

#commandes-touch {
	text-align: right;
}

#bouton-touch {
	display: inline-block;
	width: 30px;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 3px;
	position: absolute;
	top: 3px;
	right: 3px;
	background: white;
}
#bouton-touch span {
	display: block;
	margin: 4px;
	border-radius: 3px;
	height: 2px;
	background: black;
}

@media(orientation: portrait) {
	#partie {
		width: 100%;
		height: 60%;
		float: none;
	}

	#infos {
		width: 100%;
		height: auto;
		float: none;
	}
	
	#commandes-jeu-touch {
		width: 100%;
		height: 30%;
		float: none;
	}
	
	#fleches, #boutons {
		float: left;
		height: 100%;
		width: 50%;
		margin-top: 10px;
	}
	
	#bouton-touch {
		position: static;
	}
}

/* participants */
#lesParticipants .score.gagnant {
	border: 1px dashed #27ae60;
}

#count {
	display: none;
}	

#message {
	display: none;
}

.login {
	font-weight: bold;
}

.error {
	color: red;
}

.info {
	color: green;
}

.touch-desactive {
	display: block;
}
.touch .touch-desactive {
	display: none;
}

.touch-active {
	display: none;
}
.touch .touch-active {
	display: block;
}

#infos {
	position: relative;
}

#bouton-recommencer {
	text-align: center;
	margin-top: 28px;
}

#infos footer {
	position: absolute;
	bottom: 30px;
	left: 30px;
	right: 30px;
}

.touch #infos {
	position: fixed;
	z-index: 10;
	width: 80%;
	height: 100%;
	border-right: 1px solid black;
	top: 0;
	left: 0;
	background-color: #ecf0f1;
}

