html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body > section {
	padding: 0;
	margin: 0;
}

footer {
	font-style: italic;
}

#partie {
	width: 50%;
	height: 100%;
	float: left;
}

#infos {
	width: 50%;
	height: 100%;
	float: left;
}

@media(orientation: portrait) {
	#partie {
		width: 100%;
		height: 50%;
		float: none;
	}

	#infos {
		width: 100%;
		height: 50%;
		float: none;
	}
}

/* participants */
#lesParticipants .score.gagnant {
	border: 1px dashed #27ae60;
}

#count {
	display: none;
}	

#message {
	display: none;
}

.login {
	font-weight: bold;
}

.error {
	color: red;
}

.info {
	color: green;
}