html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
	padding: 0;
	margin: 0;
}

@media(orientation: portrait) {
	body {
		flex-direction: column;
	}
}

body > section {
	padding: 0;
	margin: 0;
}

#partie {
	flex: 1 1 0;
}

#infos {
	flex: 1 1 0;
}

/* participants */
#lesParticipants .score.gagnant {
	border: 1px dashed #27ae60;
}

#count {
	display: none;
}	
