#champIdGame {
	display: none;
}

.empty  {
	font-style: italic;
}

footer {
	font-style: italic;
	clear: left;
}

#champIdGame > div {
	float: left;
	width: 50%;
}

@media(max-width: 768px) {
	#champIdGame > div {
		float: none;
		width: auto;
	}
}

/* fisheyes */
#lesParties {
	position: relative;
}

#thumb {
	margin: auto;
	width: 120px;
	height: 150px;
}
#thumb div {
	display: none;
}

#lesParties a:hover {
	font-size: 150%;
}
