#champIdGame {
	display: none;
}

.empty  {
	font-style: italic;
}

footer {
	font-style: italic;
}

#lesParties a span{
	display:none;
}

#lesParties a:hover span{
	display:block;
}

#lesParties a:hover {
	font-size:150%;
}