/* plateau */
#plateau {
	border: 1px solid black;
	border-collapse: collapse;
	margin: auto;
	width: 100%;
}

/* case */
#plateau td {
	width: 6.25%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

/* murs */
#plateau td {
	border: 1px dotted #bdc3c7;
}
#plateau td.g {
	border-left: 1px solid black;
}
#plateau td.h {
	border-top: 1px solid black;
}
#plateau td.b {
	border-bottom: 1px solid black;
}
#plateau td.d {
	border-right: 1px solid black;
}

/* robot */
#plateau .robot {
	display: block;
	margin: auto;
	border-radius: 100%;
}
#plateau .robot.blue {
	background-color: #3498db;
}
#plateau .robot.red {
	background-color: #e74c3c;
}
#plateau .robot.green {
	background-color: #2ecc71;
}
#plateau .robot.yellow {
	background-color: #f1c40f;
}

/* robot selectionné */
#plateau .robot.selection {
	border: 1px solid black;
}

#plateau .robot.deplace {
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.7) inset;
}
#plateau .robot.deplace.blue {
	background-color: #2980b9;
}
#plateau .robot.deplace.red {
	background-color: #c0392b;
}
#plateau .robot.deplace.green {
	background-color: #27ae60;
}
#plateau .robot.deplace.yellow {
	background-color: #f39c12;
}

/* case accessible */
#plateau td.accessible {
	background-color: #ecf0f1;
}

#plateau  td.trace-blue {
	background-color: #bccfdb;
}

#plateau  td.trace-yellow {
	background-color: #f1eacf;
}

#plateau  td.trace-red {
	background-color: #e7cac7;
}

#plateau  td.trace-green {
	background-color: #afccbc;
}


#plateau td.destination {
	background-color: #bdc3c7;
}

/* cibles */
#plateau td.cible.blue {
	background-color: #3498db;
}
#plateau td.cible.red {
	background-color: #e74c3c;
}
#plateau td.cible.green {
	background-color: #2ecc71;
}
#plateau td.cible.yellow {
	background-color: #f1c40f;
}
