/* plateau */
.plateau {
	border: 1px solid black;
	border-collapse: collapse;
}

/* case */
.plateau td {
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

/* murs */
.plateau td {
	border: 1px dotted #bdc3c7;
}
.plateau td.g {
	border-left: 1px solid black;
}
.plateau td.h {
	border-top: 1px solid black;
}
.plateau td.b {
	border-bottom: 1px solid black;
}
.plateau td.d {
	border-right: 1px solid black;
}

/* case accessible */
.plateau td.accessible {
	background-color: #ecf0f1;
}
.plateau td.destination {
	background-color: #bdc3c7;
}

/* cibles */
.plateau td.cible.blue {
	background-color: #3498db;
}
.plateau td.cible.red {
	background-color: #e74c3c;
}
.plateau td.cible.green {
	background-color: #2ecc71;
}
.plateau td.cible.yellow {
	background-color: #f1c40f;
}

/* robot */
.plateau .robot {
	display: block;
	border-radius: 10px;
	width: 8px;
	height: 8px;
	margin: auto;
	padding: 4px;
	border: 1px solid #34495e;
}
.plateau .robot.blue {
	background-color: #3498db;
}
.plateau .robot.red {
	background-color: #e74c3c;
}
.plateau .robot.green {
	background-color: #2ecc71;
}
.plateau .robot.yellow {
	background-color: #f1c40f;
}

/* robot selectionné */
.plateau .robot.selection {
	padding: 2px;
	border-width: 3px;
}
.plateau .robot.deplace {
	padding: 0;
	border-width: 5px;
}


