html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
	padding: 0;
	margin: 0;
}

@media(orientation: portrait) {
	body {
		flex-direction: column;
	}
}

body > section {
	padding: 0;
	margin: 0;
}

#partie {
	flex: 1 1 0;
}

#infos {
	flex: 1 1 0;
}

/* participants */
#lesParticipants .score.gagnant {
	border: 1px dashed #27ae60;
}

/* plateau */
.plateau {
	border: 1px solid black;
	border-collapse: collapse;
	margin: auto;
	width: 100%;
}

/* case */
.plateau td {
	width: 6.25%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

/* murs */
.plateau td {
	border: 1px dotted #bdc3c7;
}
.plateau td.g {
	border-left: 1px solid black;
}
.plateau td.h {
	border-top: 1px solid black;
}
.plateau td.b {
	border-bottom: 1px solid black;
}
.plateau td.d {
	border-right: 1px solid black;
}

/* case accessible */
.plateau td.accessible {
	background-color: #ecf0f1;
}
.plateau td.destination {
	background-color: #bdc3c7;
}

/* cibles */
.plateau td.cible.blue {
	background-color: #3498db;
}
.plateau td.cible.red {
	background-color: #e74c3c;
}
.plateau td.cible.green {
	background-color: #2ecc71;
}
.plateau td.cible.yellow {
	background-color: #f1c40f;
}

/* robot */
.plateau .robot {
	display: block;
	width: 30%;
	height: 30%;
	margin: auto;
	border-color: #34495e;
	border-style: solid;
	border-width: 1px;
	border-radius: 100%;
	padding: 4px;
}
.plateau .robot.blue {
	background-color: #3498db;
}
.plateau .robot.red {
	background-color: #e74c3c;
}
.plateau .robot.green {
	background-color: #2ecc71;
}
.plateau .robot.yellow {
	background-color: #f1c40f;
}

/* robot selectionné */
.plateau .robot.selection {
	border-width: 3px;
	padding: 2px;
}
.plateau .robot.deplace {
	border-width: 5px;
	padding: 0;
}


